<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="juego.html"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


</head>
<body>
    <div class="container">
        <div class="col-12">
            <h1>Bienvenidos al juego de preguntas y respuestas </h1>
            <div class="alert alert-primary" role="alert">
                <h6>Instrucciones para ingresar al juego</h6>
                <p>1. por cada pregunta correcta se gana 5 puntos
                <br>
                2. los puntos los puedes redimir con el puntaje final 
                <br>
                3. al tener una pregunta incorrecta, saldra la respuesta 
                </p>
            </div>
            <a id="iniciar" class="btn btn-info" onclick="" href="juego.html">
                Iniciar juego 
           </a>
           
     
        </div>
   
    </div>
    
</body>
</html>